{{>header}}
  <body>
  	<label>Matricular un curso</label>
    <form action="/matricular" method="post">
      <div>
        <label>Documento</label>
        <input type="text" name="documento" placeholder="Documento de identidad" size="30" required readonly value="{{documento}}">
      </div>
      <div>
        <label>Nombre   </label>
        <input type="text" name="nombre" placeholder="Nombre" size="30" required readonly value="{{nombre}}">
      </div>
      <div>
        <label>Correo   </label>
        <input type="text" name="correo" placeholder="Correo" size="30" required  value="{{correo}}">
      </div>
      <div>
        <label>Teléfono </label>
        <input type="text" name="telefono" placeholder="Teléfono" size="30" required  value="{{telefono}}">
      </div>
      <div>
           {{{matricularCursos listado }}}
      </div>
      <br>
      <button>Matricular</button>
    </form>
  	 	
    {{>footer}}